/* 
    Created on : Jun 8, 2016, 5:44:37 AM
    Author     : Bona
*/

html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#container{
    min-height: 100%;
    position: relative;
}
#header{
    background: darkorange;
    text-align: center;
    padding: 10px;
}
logo{
    float: left;
}
#body{
    padding: 5px;
    
}
#footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background: #373735;
    color: white;
    text-align: center;
}

