logo{
    float: top;
    float: left;
}
header {
    background-color:darkorange;
    color:black;
    text-align:center;
    padding: 10px;
}
formLayout{
    padding: 1px;
   
}

section {
   
}
footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

